파이썬 데이터베이스 연동(SQLite)

In [1]:
import sqlite3 as sql
import datetime

In [2]:
print('sqlite3 version:',sql.version)
print('sqlite3.sqlite_version:',sql.sqlite_version)

sqlite3 version: 2.6.0
sqlite3.sqlite_version: 3.29.0

In [3]:
now = datetime.datetime.now()

In [4]:
print(now)

2020-04-09 10:33:34.232094

In [5]:
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')

In [6]:
print(nowDatetime)

2020-04-09 10:33:34

데이터베이스 브라우저
- 데이터베이스에 저장된 데이터를 효과적으로 보여주는 프로그램

### Transaction
- 논리적인 일의 단위. 
- 하나의 묶음 처리가 되는 것.
- 양측이 다 원하는 결과물을 얻어야만 정상적으로 처리되는 것.

### Commit
- DML언어를 사용할 때는 항상 COMMIT도 함께 해줘야 한다.
- DML언어로 작업한 모든 것을 정상적으로 처리하겠다고 확정하는 명령어
- 트랜젝션의 처리 과정을 데이터베이스에 반영하기 위해서, 변경된 내용을 모두 영구 저장한다.
- COMMIT 수행하면, 하나의 트랜젝션 과정을 종료하게 된다.
- TRANSACTION(INSERT, UPDATE, DELETE)작업 내용을 실제 DB에 저장한다.
- **Auto Commit** 자동으로 commit을 해주는 설정.

### RollBack
- 작업 중 문제가 발생했을 때, 트랜젝션의 처리 과정에서 발생한 변경 사항을 취소하고, 트랜젝션 과정을 종료시키는 것.
- 트랜젝션 이전의 상태로 되돌린다.
- Rollback : 다시 되돌리는 능력.

DB 파일 조회 (없으면 생성)

In [7]:
conn = sql.connect('/Users/changmin.kim/Desktop/jupyterNotebook/데이터베이스/db_resourse/database.db',isolation_level=None)

isolation_level = None : Auto Commit 설정
- 설정 안하면 마지막에 commit()를 실행 해주어야 한다.

# Cuser

In [8]:
c = conn.cursor()

In [9]:
print('cursor type:',type(c))

cursor type: <class 'sqlite3.Cursor'>

In [10]:
nowDatetime

'2020-04-09 10:33:34'

# 테이블 생성
- data type: TEXT, NUMERIC, INTEGER, REAL, BLOB

In [63]:
c.execute("CREATE Table IF NOT EXISTS users(id INTEGER PRIMARY KEY, username text, email text, phone text, website text, regdate text) ")

In [23]:
print("?",(7))

? 7

In [27]:
c.execute("INSERT INTO users VALUES(1, 'changmin.kim', 'ckd29672@naver.com','010-2503-2160','naver.com',?)",(nowDatetime,))

In [32]:
c.execute("INSERT INTO users(id, username, phone, email, regdate, website) VALUES(?,?,?,?,?,?)",(2,"박시영","010-4567-2934","park234@naver.com",nowDatetime,"naver.com"))

IntegrityError: UNIQUE constraint failed: users.id

In [33]:
nowDatetime

'2020-04-08 17:12:07'

In [85]:
usersList = (
    (3,'이진우','jinwoo1234@daum.net','010-2354-2893','Daum.net',nowDatetime),
    (4,'최영준','youngjun@1234@gmail.com','010-2945-2394','Gmail.net',nowDatetime),
    (5, '아이유','iu1234@naver.com','010-2395-3940','Naver.com',nowDatetime),
)

In [49]:
for i in range(3):
    c.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?,?,?,?,?,?)",usersList[i])

또는

In [86]:
c.executemany("INSERT INTO users(id, username, email, phone, website, regdate)VALUES(?,?,?,?,?,?)",usersList)

In [60]:
print("users db deleted",c.execute("DELETE FROM users WHERE id>2").rowcount)

users db deleted 1

#### Rollback

In [62]:
conn.rollback()

테이블 조회(전체)

In [93]:
c.execute("SELECT * FROM users")

커서 위치가 변경 <br>
1개 로우 선택

In [89]:
print("one->\n",c.fetchmany())

one->
 [(1, 'changmin.kim', 'ckd29672@naver.com', '010-2503-2160', 'naver.com', '2020-04-08 17:12:07')]

In [90]:
print("third->\n",c.fetchmany(size=3))

third->
 [(2, '박시영', 'park234@naver.com', '010-4567-2934', 'naver.com', '2020-04-08 17:12:07'), (3, '이진우', 'jinwoo1234@daum.net', '010-2354-2893', 'Daum.net', '2020-04-08 18:05:33'), (4, '최영준', 'youngjun@1234@gmail.com', '010-2945-2394', 'Gmail.net', '2020-04-08 18:05:33')]

In [91]:
print("All ->\n",c.fetchall())

All ->
 [(5, '아이유', 'iu1234@naver.com', '010-2395-3940', 'Naver.com', '2020-04-08 18:05:33')]

In [92]:
print("none->\n",c.fetchone())

none->
 None

#### 순회 방법

In [ ]:
rows = c.fetchall()

In [97]:
for row in rows:
    print(row)

(1, 'changmin.kim', 'ckd29672@naver.com', '010-2503-2160', 'naver.com', '2020-04-08 17:12:07')
(2, '박시영', 'park234@naver.com', '010-4567-2934', 'naver.com', '2020-04-08 17:12:07')
(3, '이진우', 'jinwoo1234@daum.net', '010-2354-2893', 'Daum.net', '2020-04-08 18:05:33')
(4, '최영준', 'youngjun@1234@gmail.com', '010-2945-2394', 'Gmail.net', '2020-04-08 18:05:33')
(5, '아이유', 'iu1234@naver.com', '010-2395-3940', 'Naver.com', '2020-04-08 18:05:33')

In [138]:
param1

(3,)

In [127]:
'SELECT * FROM users WHERE id="%s"'%param1

'SELECT * FROM users WHERE id="3"'

In [132]:
'SELECT * FROM users WHERE id="{}"'.format(param1)

'SELECT * FROM users WHERE id="(3,)"'

In [143]:
c.execute('SELECT * FROM users WHERE id={}'.format(3))

In [145]:
print(c.fetchone())

None

In [146]:
param = (3,5)
c.execute('SELECT * FROM users WHERE id IN(?,?)',param)

In [147]:
c.fetchall()

[(3,
  '이진우',
  'jinwoo1234@daum.net',
  '010-2354-2893',
  'Daum.net',
  '2020-04-08 18:05:33'),
 (5,
  '아이유',
  'iu1234@naver.com',
  '010-2395-3940',
  'Naver.com',
  '2020-04-08 18:05:33')]

In [148]:
c.execute('SELECT * FROM users WHERE id IN({},{})'.format(3,5))

In [149]:
c.fetchall()

[(3,
  '이진우',
  'jinwoo1234@daum.net',
  '010-2354-2893',
  'Daum.net',
  '2020-04-08 18:05:33'),
 (5,
  '아이유',
  'iu1234@naver.com',
  '010-2395-3940',
  'Naver.com',
  '2020-04-08 18:05:33')]

In [156]:
c.execute('SELECT * FROM users WHERE id= :id1 OR id= :id6',{"id1":1,"id6":5})

In [157]:
c.fetchall()

[(1,
  'changmin.kim',
  'ckd29672@naver.com',
  '010-2503-2160',
  'naver.com',
  '2020-04-08 17:12:07'),
 (5,
  '아이유',
  'iu1234@naver.com',
  '010-2395-3940',
  'Naver.com',
  '2020-04-08 18:05:33')]

Dump
- 대상 데이터를 insert query로 바꿔서 저장하는 방법

In [158]:
g= conn.iterdump()

In [160]:
for line in conn.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE users(id INTEGER PRIMARY KEY, username text, email text, phone text, website text, regdate text);
INSERT INTO "users" VALUES(1,'changmin.kim','ckd29672@naver.com','010-2503-2160','naver.com','2020-04-08 17:12:07');
INSERT INTO "users" VALUES(2,'박시영','park234@naver.com','010-4567-2934','naver.com','2020-04-08 17:12:07');
INSERT INTO "users" VALUES(3,'이진우','jinwoo1234@daum.net','010-2354-2893','Daum.net','2020-04-08 18:05:33');
INSERT INTO "users" VALUES(4,'최영준','youngjun@1234@gmail.com','010-2945-2394','Gmail.net','2020-04-08 18:05:33');
INSERT INTO "users" VALUES(5,'아이유','iu1234@naver.com','010-2395-3940','Naver.com','2020-04-08 18:05:33');
COMMIT;

In [162]:
with conn:
    with open('/Users/changmin.kim/Desktop/jupyterNotebook/데이터베이스/db_resourse/dump.sql','w') as f:
        for line in conn.iterdump():
            f.write('{}\n'.format(line))

## 수정

In [14]:
c.execute("UPDATE users SET username = ? WHERE id = ?",('niceman',2))

In [15]:
c.execute("UPDATE users SET username = :name WHERE id = :id",{'name':'kingsman','id':4})

## 삭제

In [17]:
c.execute("DELETE FROM users WHERE id=?",(2,))

In [18]:
conn.close()